   body{
     font-family: Tw Cen MT;
     color: black ;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
    }
     
   header{
      width: 100%;
      padding-bottom: 60px;
      font-family: Consolas,monaco,monospace;
      font-size: 1.75em;
      font-weight: bold;
      }

   #header-nav{
    text-align-last: left;
     background-color: #808080;
     border: 2px solid black;
    text-decoration: none;
    margin-left: 0px;
     border-radius: 0px;
    }

    .container{
      padding-top: 10px;
      width: 98%;
    }
    
    .navbar-brand{
      float: left;
     min-height: 70px;
     text-align-last: left;
    }
   
  /*for company name icon*/
    .navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{
      color: black;
      padding-bottom: 0px;
      font-size: 0.90em;
     }

/*for mobile menu icon*/
   .navbar-default .navbar-toggle .icon-bar{
    background-color: black;
    border:2px solid black;
    }
   .navbar-default .navbar-toggle, .navbar-default .navbar-toggle .icon-bar:focus{
         border:3px solid black;
    }

    .navbar-default .navbar-toggle .icon-bar:focus {
      background-color: white;
    }

  
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    border: 2px solid white;
    background-color: #808080;
    }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: black;
    text-align-last: center;
    font-size: 16px;
    }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: white;
    color: black;
    font-weight: 600;
    }
  

   
    .content{
      background-color: #808080;
      margin-right: 1%;
      margin-left: 1%;
      width: 98%;
         }
 
    .sub-title {
      font-size: 1.25em;
      font-weight: bold;
      padding-bottom: 10px;
      text-align-last: center;
    }

    .list-cont{
      border-top:2px solid black;
      border-bottom:2px solid black;
    }
     
  /*  mobile view */
    @media (max-width: 767px){
  .content{
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
   }
  }

